* {
  background-color: grey;
}

ul{
  border: 5px solid black;
  max-width: 25%;
}

li {
  color: white;
  border: 3px solid black;
  max-width: 95%;
}

.affirmative {
  background-color: green;
}

.negative {
  background-color: red;
}

.nonsense {
  background-color: purple;
}
